.configurator {
  margin: 0 auto;
  font: normal 16px Tahoma, Verdana, Segoe, sans-serif;
  padding: 0 30px;
  width: 33.3333%;
  margin: 0;
  margin-bottom: 45px;
  box-sizing: border-box;
}
.configurator * {
  box-sizing: border-box;
}
.configurator__title {
  font-size: 23px;
  line-height: 140%;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}
.configurator__descr {
  margin-bottom: 20px;
  color: #8f919b;
  text-align: center;
}
.configurator__row {
  display: block;
}
.configurator__main {
  width: 100%;
  flex: none;
}
.configurator__image {
  height: 174px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.configurator__main img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
}
.configurator__content {
  width: 100%;
}
.configurator__item {
  margin-bottom: 12px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #8f919b;
  display: block;
}
.singleOption,
.configurator__item select {
  height: 30px;
  background: #292b37;
  border: 1px solid #8f919b;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}
.singleOption {
  padding: 5px;
  cursor: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.configurator__item p {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}
.configurator__line {
  margin-bottom: 8px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.configurator__item strong {
  font-weight: 600;
}
.configurator__line select {
  flex: 1;
}
.quantity {
  width: 82px;
  display: flex;
  background: transparent;
  border: 1px solid rgb(118, 118, 118);
  line-height: 30px;
  flex: none;
}
.quantity input {
  flex: 1;
  width: 100%;
  border: none;
  text-align: center;
  background: transparent;
  color: #fff;
  font-size: inherit;
}
.quantity__btn {
  font-size: 18px;
  font-weight: 700;
  flex: 1;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
  user-select: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
}
input[type=number] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.configurator__sum {
  color: #fff;
  padding: 0 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid rgb(118, 118, 118);
  line-height: 19px;
}

.term {
  gap: 25px;
  margin-bottom: 15px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.term__btn {
  height: 42px;
  background-color: #343644;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  flex: 1;
  transition: all 0.3s;
  padding: 0;
  border: none;
}
.term__btn.active {
    background-color: #ffaa06;
    color: #000;
}
.term__btn small {
  font-size: 12px;
  margin-left: 4px;
  top: 1px;
  position: relative;
  color: red;
}
.resultPrice {
  font: normal 19px Arial;
  padding-top: 18px;
  margin-top: auto;
  width: 100%;
  color: #8f919b;
  text-align: center;
}
.resultPrice strong {
    font-size: 32px;
    margin-top: 10px;
    color: #ffaa06;
    font-weight: 700;
    display: block;
    text-align: center;
}
.btnMain {
  height: 43px;
  color: #fff;
  background: #ffaa06;
  text-transform: uppercase;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
  transition: all 0.3s;
}
.btnMain:hover {
    background: #e19503;
}
.configurator .btnMain {
  margin-top: 50px;
}


.btnAddLine {
  padding: 0 15px;
  height: 30px;
  border: 1px solid rgb(118, 118, 118);
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.btnAddLine strong {
  font-size: 160%;
  margin-right: 10px;
  font-weight: 700;
}

@media only screen and (max-width : 992px) {
  .configurator {
    width: 50%;
  }
}

@media only screen and (max-width : 768px) {
  .configurator__row { 
    display: block;
  }
  .configurator__image {
    width: 100%;
    padding: 0;
  }
  .configurator__content {
    width: 100%;
    padding: 0;
  }
  .configurator {
    padding: 25px 15px;
  }
  .configurator__title {
    font-size: 22px;
    margin-top: 0;
  }
  .resultPrice{ 
    margin-top: 18px;
  }
  .configurator {
    width: 100%;
  }
} 